
body{


  background: #FFFFFF; /* fallback for old browsers */

}
div {
    background: #FFFFFF;
     border: 0;
}
h2 {
    font-size: 2em;
    font-family:'Roboto', 'Roboto', sans-serif;
    color: #2196F3;


}
p {

font-family: 'Nunito', 'Nunito',sans-serif;
    color: #757575;
}
ul {
    list-style-image: url('img/indicator.png');
    font-family:'Roboto', 'Roboto', sans-serif;
    color: #2196F3;
}
pre{
  font-family: 'Nunito', 'Nunito',sans-serif;
      color: #757575;
}
 footer{


   background-color:#E91E63;
   height:50px;
   color:white;
 }
img {max-width:100%}
.btn {
  background: #E91E63;
  background-image: -webkit-linear-gradient(top, #E91E63, #C2185B);
  background-image: -moz-linear-gradient(top, #E91E63, #C2185B);
  background-image: -ms-linear-gradient(top, #E91E63, #C2185B);
  background-image: -o-linear-gradient(top, #E91E63, #C2185B);
  background-image: linear-gradient(to bottom, #E91E63, #C2185B);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F44336;
  text-decoration: none;
}
